.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: red;
  border-bottom: 3px solid red;
}

