.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-body{
  text-align: left;
  padding: 2rem 0 20rem 3rem;
}

.App-body label {
  padding-right: 1rem;
}

.App-body input {
  margin-right: 1rem;
}

.App-body button {
  background-color:transparent;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.1rem rgba(0,0,0,0.5);
  cursor: pointer;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: red;
  border-bottom: 3px solid red;
}


.App-footer{
  border-top: 3px solid red;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

